{% extends 'base.html' %}

{% block css %}
{% endblock %}

{% block contents %}
<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
        페이지 제목
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">API Page입니다.</a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
         API Page입니다.
    </div>
</div>
<!-- END PAGE CONTENT-->
{% endblock %}

{% block js %}
{% endblock %}
